[Unit]

#                                      Copyright 2024 WebPros International, LLC
#                                                           All rights reserved.
# copyright@cpanel.net                                         http://cpanel.net
# This code is subject to the cPanel license. Unauthorized copying is prohibited.

Description=tailwatchd

[Service]
ExecStart=/usr/bin/perl -E 'sleep 10 while 1'
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
