name: testsuite

on:
  push:
    branches:
      - "*"
      - '!docs'
    tags-ignore:
      - "*"
  pull_request:
  workflow_dispatch:
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-testsuite
  cancel-in-progress: true

jobs:
  testsuite:
    env:
      PERL_USE_UNSAFE_INC: 1
      CPANEL_BIN_PATH: /usr/local/cpanel/3rdparty/bin
      CPANEL_PERL: /usr/local/cpanel/3rdparty/perl/536/bin/perl

    runs-on: ubuntu-latest

    container:
      image: cpanelos/perl-compiler:alma8-perl-v5.36.0

    steps:

      - name: Setup PATH
        run: |
            echo $CPANEL_BIN_PATH >> $GITHUB_PATH;
            $CPANEL_PERL -MConfig -E 'say $Config{sitebin}'   >> $GITHUB_PATH
            $CPANEL_PERL -MConfig -E 'say $Config{vendorbin}' >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@v4

      - run: perl -V

      - name: cpanel-setup
        run: /bin/bash t/cpanel-setup

      - name: which prove
        run: ls -l $(which prove)

      - run: perl -cw elevate-cpanel

      - name: Run tests
        run: prove -lv -It/lib t/*.t

