name: website

## https://github.com/peaceiris/actions-hugo
## https://github.com/github-actions-x/hugo
## https://github.com/github-actions-x/commit

on:
  push:
    branches:
    - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        submodules: true  # Fetch Hugo themes (true OR recursive)
        fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
        persist-credentials: false

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v2
      with:
        hugo-version: '0.91.2'

    - name: Build
      working-directory: ./docs-website-src
      run: |
        hugo -D

    - name: check delta
      run: |
        git status
        git diff

    - name: push
      uses: github-actions-x/commit@v2.9
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        push-branch: 'docs'
        commit-message: 'Regenerate Documentation Website'
        force-add: 'true'
        files: docs/
        name: GitHub Action
        email: github.bot@cpanel.net
